@import '@fontsource/fira-mono';

#svelte {
	min-height: 100vh;
}

.header {
	grid-area: hd;
}

.footer {
	grid-area: ft;
}

.main {
	grid-area: main;
	align-self: center;
	justify-self: center;
	width: 100%;
}

.container {
	display: grid;
	grid-template-rows: 4rem 1fr auto;
	grid-template-columns: minmax(0, 15%) 1fr minmax(0, 15%);
	min-height: 100vh;
	grid-template-areas:
		'hd hd hd'
		'ls main rs'
		'ft ft ft';
}
