@import '@fontsource/fira-mono';

:root {
	--themePrimary: #0078d4;
	--themeLighterAlt: #eff6fc;
	--themeLighter: #deecf9;
	--themeLight: #c7e0f4;
	--themeTertiary: #71afe5;
	--themeSecondary: #2b88d8;
	--themeDarkAlt: #106ebe;
	--themeDark: #005a9e;
	--themeDarker: #004578;
	--neutralLighterAlt: #faf9f8;
	--neutralLighter: #f3f2f1;
	--neutralLight: #edebe9;
	--neutralQuaternaryAlt: #e1dfdd;
	--neutralQuaternary: #d0d0d0;
	--neutralTertiaryAlt: #c8c6c4;
	--neutralTertiary: #a19f9d;
	--neutralSecondary: #605e5c;
	--neutralPrimaryAlt: #3b3a39;
	--neutralPrimary: #323130;
	--neutralDark: #201f1e;
	--black: #000000;
	--white: #ffffff;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--themePrimary: #0078d4;
		--themeLighterAlt: #eff6fc;
		--themeLighter: #deecf9;
		--themeLight: #c7e0f4;
		--themeTertiary: #71afe5;
		--themeSecondary: #2b88d8;
		--themeDarkAlt: #106ebe;
		--themeDark: #005a9e;
		--themeDarker: #004578;
		--neutralLighterAlt: #faf9f8;
		--neutralLighter: #f3f2f1;
		--neutralLight: #edebe9;
		--neutralQuaternaryAlt: #e1dfdd;
		--neutralQuaternary: #d0d0d0;
		--neutralTertiaryAlt: #c8c6c4;
		--neutralTertiary: #a19f9d;
		--neutralSecondary: #605e5c;
		--neutralPrimaryAlt: #3b3a39;
		--neutralPrimary: #323130;
		--neutralDark: #201f1e;
		--black: #000000;
		--white: #ffffff;
	}
}

#svelte {
	min-height: 100vh;
}

header {
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 2;
	z-index: 10;
	position: fixed;
	box-shadow: 0 4px 10px #00000042;
	width: 100%;
	background-color: #ffffff88;
	backdrop-filter: saturate(80%) blur(30px) brightness(120%);
	box-shadow: 2px 0 5px #00000042;
}

main {
	justify-self: center;
	width: 100%;
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 3;
	z-index: 1;
	overflow-x: scroll;
	margin-top: 10px;
}

aside {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	z-index: 1;
	background-color: #ffffff88;
	backdrop-filter: saturate(80%) blur(30px) brightness(120%);
	box-shadow: 2px 0 5px #00000042;
}

.container {
	display: grid;
	grid-template-rows: 4rem auto;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
	background-color: var(--themeLighterAlt);
	margin: 0px;
}
